# DB Credentials
PORT=3000

DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=''  # Your password
DB_NAME=task_manager

DB_SYNC=true
DB_LOG=false

#Your Secret key
JWT_SECRET=9f3c2e7a4b1d8a6f0c5e92d7b4a1f8e6c3d0b5a7e4f9c2a8d1e6b7c0f5a9
